{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <title>Blog</title>
</head>
<body>

<div class="card">
    <h4>News</h4>
  <div class="card-body">
      <div class="row">
      {% for article in articles %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      {%endfor%}
</div>
  </div>
</div>
</body>
</html>